# Node modules
node_modules/

# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build output
dist/
build/

# Dependency directories
bower_components/

# IDE/editor files
.idea/
.vscode/
.DS_Store

# Cache
.cache/
.pnpm-store/

# OS system files
Thumbs.db
